body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 12px;
}

.panelbar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  background-color: #a9a9a9;

  overflow-x: hidden;
  padding-top: 12px;
}

.panelbar_flow {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background-color: #a9a9a9;
  overflow-x: hidden;
  padding-top: 12px;
  overflow-y: auto;
}

.panelbar_flow div:hover {
  /* background-color: #a0a0a0;
  color: "white"; */
  opacity: 0.6;
}

.iconStyle:hover {
  color: #818181;
  visibility: visible;
}

.iconStyle {
  cursor: "pointer";
}

.steps {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background-color: #f2f2f2;

  overflow-x: hidden;
  padding-top: 12px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: blue;
}

.dropdown-btn:hover,
.sbtn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #dcdcdc;
  color: white;
}

.dropdown-btn,
.sbtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: "black";
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  background-color: #818181;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
