body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 12px;
}

.panelbar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  background-color: #a9a9a9;

  overflow-x: hidden;
  padding-top: 12px;
}

.panelbar_flow {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 99;
  background-color: #a9a9a9;
  overflow-x: hidden;
  padding-top: 12px;
  overflow-y: auto;
  margin: 2px;
}

.panelbar_flow div:hover {
  /* background-color: #a0a0a0;
  color: "white"; */
  opacity: 0.6;
}

.iconStyle:hover {
  color: #818181;
  visibility: visible;
}

.iconStyle {
  cursor: "pointer";
}

.steps {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background-color: #f2f2f2;

  overflow-x: hidden;
  padding-top: 12px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: blue;
}

.dropdown-btn:hover,
.sbtn:hover {
  color: #f1f1f1;
}

.active-path {
  background-color: #dcdcdc;
}

.active-flow {
  background-color: #dcdcdc;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5%;
}
.active-step {
  background-color: #ddd;
  color: white;
}

.dropdown-btn,
.sbtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: "black";
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  background-color: #818181;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 12px;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 20rem;
  overflow-y: auto;
}

.btn-round {
  border-radius: 50%;
}

.action-content {
  /* display: flex;
  justify-content: "center"; */
  margin: 10px 10px 10px 100px;
  padding: 20px;
  border: 2px solid #d3d3d3;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#canvas {
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #d3d3d3;
  margin: 2px 2px 0px 0px;
  position: absolute;
  /* position: relative; */
  background-size: 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px;
  background-image: linear-gradient(rgba(17, 16, 16, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(19, 18, 18, 0.3) 1px, transparent 1px);

  behavior: url(/pie/PIE.htc);
}

#topcanvas {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #d3d3d3;
  /* position: absolute; */
}

#svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.item {
  position: absolute;
  z-index: 10;
}
.itembox {
  /* position: absolute; */
  /* z-index: 10; */
  width: 100px;
  height: 40px;
  background-color: gray;
  display: block;
  margin-top: 2px;
  padding: 0px;
  font-size: 12px;
  user-select: none;
  /* overflow-wrap: break-word; */
}
.stepitembox {
  /* position: absolute;
  z-index: 10; */
  font-size: 12px;
  width: 100px;
  height: 40px;
  background-color: gray;
  display: inline-block;
  margin-top: 2px;
  user-select: none;
  overflow-wrap: break-word;
  /* overflow: hidden; */
  /* padding: 0px;  */
}

.item {
  position: absolute;
  z-index: 10;
}

/* .itembox:hover {
  cursor: grabbing;
} */

.sideitembox {
  /* position: absolute; */
  width: 5px;
  height: 5px;
  background-color: gray;
  display: inline-block;
  /* vertical-align: middle; */
  margin: 0px;
  padding: 0px;
}

.wrapItem {
  display: block;
}

.outer_div {
  position: absolute;
  width: 120px;
  min-height: 100px;
  overflow: hidden;
  border: 1px solid red;
}

.dragbox {
  width: 100px;
  height: 50px;
  background-color: gray;
  display: block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
.dragbox:hover {
  cursor: grabbing;
}

.sidebar_right {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar_right .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  /* font-size: 36px; */
  /* margin-left: 50px; */
}

.smallbtn {
  height: 40px;
  width: 40px;
}

/* #svg {
  position: absolute;
  height: 100%;
  width: 100%;
} */
path {
  stroke: blue;
  stroke-width: 3;
  fill: none;
}

path:active {
  stroke: red;
  stroke-width: 3;
  fill: none;
}

path:hover {
  cursor: pointer;
}

#canvaswrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid #d3d3d3;
  margin: 2px 2px 0px 0px;
}

.editor {
  top: 50px;
  background-color: black;
  z-index: 10;
  height: 500px;
  width: 900px;
  display: inline-block;
  position: absolute;
}

.header {
  width: 500px;
  height: 30px;
  background-color: dimgrey;
  position: absolute;
}
.realeditw {
  display: block;
  top: 30px;
  width: 500px;
  height: 440px;
  background-color: pink;
  position: absolute;
  overflow: auto;
  margin: 0 auto;
}

.closebutton {
  position: absolute;
  top: 0;
  right: 25px;
}
.backdrop {
  width: 200%;
  height: 200%;
  /* width: 500px;
  height: 440px; */
  position: absolute;
  z-index: 1;
  margin: 0;
  background-color: #fff;
  /* pointer-events: none; */
  /* transition: transform 1s; */
}
.realedit {
  width: 200%;
  height: 200%;
  /* width: 500px;
  height: 440px; */
  position: absolute;
  z-index: 2;
  background-color: #fff;
  margin: 0;
  /* transition: transform 1s; */
}

.highlights,
.realedit {
  padding: 10px;
  font: 14px/22px "Open Sans", sans-serif;
  /* letter-spacing: 1px; */
}

.highlights {
  /* width: 200%;
  height: 200%; */
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
  z-index: 1;
}

.sideedit {
  height: 500px;
  width: 400px;
  left: 500px;
  position: absolute;
  z-index: 1;
  overflow: auto;
  background-color: lightgray;
  padding: 10px;
  font-weight: bold;
  font: "sans-serif";
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  z-index: 10;
}
.footer {
  width: 500px;
  height: 30px;
  background-color: dimgrey;
  top: 470px;
  position: absolute;
}
#realeditw::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#realeditw::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
#realeditw::-webkit-scrollbar-track {
  background-color: black;
}
#result {
  background-color: lightgray;
  width: 500px;
  height: 500px;
  left: 500px;
  position: absolute;
  display: inline-block;
}
rect {
  width: 300px;
  height: 100px;
  fill: none;
  stroke-width: 3;
  stroke: white;
  z-index: 20;
  position: absolute;
}
.rectangle {
  border: 1px solid black;
  position: absolute;
}

mark {
  color: transparent;
}

/* textarea::selection {
  background-color: white;
} */

.highlighted {
  background-color: #999;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
